# Requests

In [2]:
# request 불러오기
import requests

In [3]:
# headers에 'User-Agent' 값 넣기
headers = {'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}

# url에 주소 넣기
url = "https://www.transfermarkt.com/"

# requests.get()으로 요청하기
r = requests.get(url, headers=headers)

# status_code 응답 확인하기
r.status_code

200

# BeautifulSoup Quick Start 실습

In [4]:
html_doc = html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>"""

In [5]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_doc, 'html.parser')

In [6]:
# p 태크 정보 가져오기 (처음 나오는 것 한 개)
soup.p

In [8]:
soup.find('p')

In [10]:
# a 태그에 있는 'href' 속성값 가져오기 (처음 나오는 것 한 개)
soup.find('a')['href']

'http://example.com/elsie'

In [11]:
soup.a['href']

'http://example.com/elsie'

In [12]:
# a 태그에 있는 텍스트 가져오기(처음 나오는 것 한 개)
soup.find('a').text

'Elsie'

In [13]:
# a 태그에 있는 요소들 모두 가져오기
soup.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [14]:
# 두번째 a 태그에 있는 정보 가져오기
soup.find_all('a')[1]

In [15]:
# a 태그에 있는 'href' 속성값 모두 가져오기
a_list = soup.find_all('a')
for i in a_list:
  print(i['href'])

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

In [16]:
# a 태그에 있는 텍스트 모두 가져오기
a_list = soup.find_all('a')
for i in a_list:
  print(i.text)

Elsie
Lacie
Tillie

In [19]:
# 태그와 속성값을 같이 넣어 찾아오기
# a 태그이면서 class가 sister인 값 모두 찾아오기
soup.find_all('a', class_='sister')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [20]:
soup.find_all('a',{'class':'sister'})

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [21]:
# a 태그이면서 id가 link3인 요소들 모두 찾기
soup.find_all('a', id='link3')

In [22]:
soup.find_all("a", {'id':'link3'})

# Transfermarkt 크롤링

In [23]:
# 필요한 라이브러리 불러오기
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [232]:
# requests.get()으로 url정보 요청하기
hearders = {'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}

url = "https://www.transfermarkt.com/premier-league/marktwerte/wettbewerb/GB1/pos//detailpos/0/altersklasse/alle/plus/1"

r = requests.get(url, headers=headers)
r.status_code

200

In [ ]:
# BeautifulSoup()으로 웹페이지 분석 준비하기
soup = BeautifulSoup(r.text, 'html.parser') # r.content 대신 r.text도 가능
print(soup)

In [234]:
# 선수들의 정보가 담긴 태그와 클래스 찾기
player_info = soup.find_all('tr', class_=['odd', 'even'])

In [ ]:
# 첫번째 요소 확인하기
print(player_info[0:5])

# 현재 개수 확인하기
print(len(player_info))

In [236]:
# 7개 정보를 담을 빈 리스트 만들기(number, name, position, age, nation, team, value)

number = []
name = []
position = []
age = []
nation = []
team = []
value = []

In [237]:
# player_info1에서 'td'태그만 모두 찾기
for info in player_info:
  player = info.find_all('td')

# print(player[0])

# 해당 정보를 찾아서 각 리스트에 .append로 추가하기
  number.append(player[0].text)
  name.append(player[3].text.strip())
  position.append(player[4].text)
  nation.append(player[5].img['alt'])
  age.append(player[6].text)
  team.append(player[7].img['alt'])
  value.append(player[8].text.strip())

#time.sleep(1)

In [239]:
# pd.DataFrame()으로 저장하기
df = pd.DataFrame(
    {"number":number,
     "name":name,
     "position":position,
     "age":age,
     "nation":nation,
     "team":team,
     "value":value}
)

df

,number,name,position,age,nation,team,value
0,1,Erling Haaland,Centre-Forward,22,Norway,Manchester City,€170.00m
1,2,Phil Foden,Left Winger,22,England,Manchester City,€110.00m
2,3,Bukayo Saka,Right Winger,21,England,Arsenal FC,€110.00m
3,4,Harry Kane,Centre-Forward,29,England,Tottenham Hotspur,€150.00m
4,5,Enzo Fernández,Defensive Midfield,22,Argentina,Chelsea FC,€85.00m
5,6,Declan Rice,Defensive Midfield,24,England,West Ham United,€80.00m
6,7,Rodri,Defensive Midfield,26,Spain,Manchester City,€80.00m
7,8,Martin Ødegaard,Attacking Midfield,24,Norway,Arsenal FC,€80.00m
8,9,Kevin De Bruyne,Attacking Midfield,31,Belgium,Manchester City,€150.00m
9,10,Bernardo Silva,Attacking Midfield,28,Portugal,Manchester City,€100.00m
10,11,Marcus Rashford,Left Winger,25,England,Manchester United,€85.00m
11,12,Gabriel Jesus,Centre-Forward,26,Brazil,Arsenal FC,€80.00m
12,13,Luis Díaz,Left Winger,26,Colombia,Liverpool FC,€75.00m
13,14,Bruno Fernandes,Attacking Midfield,28,Portugal,Manchester United,€90.00m
14,15,Rúben Dias,Centre-Back,25,Portugal,Manchester City,€75.00m
15,16,Mohamed Salah,Right Winger,30,Egypt,Liverpool FC,€150.00m
16,17,Jack Grealish,Left Winger,27,England,Manchester City,€100.00m
17,18,Antony,Right Winger,23,Brazil,Manchester United,€75.00m
18,19,Darwin Núñez,Centre-Forward,23,Uruguay,Liverpool FC,€70.00m
19,20,Gabriel Martinelli,Left Winger,21,Brazil,Arsenal FC,€70.00m
20,21,Reece James,Right-Back,23,England,Chelsea FC,€70.00m
21,22,Wesley Fofana,Centre-Back,22,France,Chelsea FC,€65.00m
22,23,Mason Mount,Attacking Midfield,24,England,Chelsea FC,€75.00m
23,24,Trent Alexander-Arnold,Right-Back,24,England,Liverpool FC,€110.00m
24,25,Cody Gakpo,Left Winger,23,Netherlands,Liverpool FC,€60.00m

In [240]:
# df.to_csv()로 csv파일로 저장하기
df.to_csv('transfermarkt25.csv', index=False)

# 1~2페이지 50명 정보 크롤링

In [264]:
from requests.api import head
# url 정보 요청하기
headers = {'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}

# 7개 정보를 담을 빈 리스트 만들기(number, name, position, age, nation, team, value)
number = []
name = []
position = []
age = []
nation = []
team = []
value = []

# 1~2페이지까지의 url주소 불러오기
for i in range(1,3):
  url = f"https://www.transfermarkt.com/premier-league/marktwerte/wettbewerb/GB1/ajax/yw1/pos//detailpos/0/altersklasse/alle/plus/1/page/{i}"

  r = requests.get(url, headers=headers)
  r.status_code

  # BeautifulSoup()으로 웹페이지 분석 준비하기
  soup = BeautifulSoup(r.text, 'html.parser') # r.content 대신 r.text도 가능

  # 선수들의 정보가 담긴 태그와 클래스 찾기
  player_info = soup.find_all('tr', class_=['odd', 'even'])

  # player_info1에서 'td'태그만 모두 찾기
  for info in player_info:
    player = info.find_all('td')

  # 해당 정보를 찾아서 각 리스트에 .append로 추가하기
    number.append(player[0].text)
    name.append(player[3].text.strip())
    position.append(player[4].text)
    nation.append(player[5].img['alt'])
    age.append(player[6].text)
    team.append(player[7].img['alt'])
    value.append(player[8].text.strip())

  time.sleep(1)

# pd.DataFrame()으로 저장하기
df = pd.DataFrame(
    {"number":number,
     "name":name,
     "position":position,
     "age":age,
     "nation":nation,
     "team":team,
     "value":value}
)

df

,number,name,position,age,nation,team,value
0,1,Erling Haaland,Centre-Forward,22,Norway,Manchester City,€170.00m
1,2,Phil Foden,Left Winger,22,England,Manchester City,€110.00m
2,3,Bukayo Saka,Right Winger,21,England,Arsenal FC,€110.00m
3,4,Harry Kane,Centre-Forward,29,England,Tottenham Hotspur,€150.00m
4,5,Enzo Fernández,Defensive Midfield,22,Argentina,Chelsea FC,€85.00m
5,6,Declan Rice,Defensive Midfield,24,England,West Ham United,€80.00m
6,7,Rodri,Defensive Midfield,26,Spain,Manchester City,€80.00m
7,8,Martin Ødegaard,Attacking Midfield,24,Norway,Arsenal FC,€80.00m
8,9,Kevin De Bruyne,Attacking Midfield,31,Belgium,Manchester City,€150.00m
9,10,Bernardo Silva,Attacking Midfield,28,Portugal,Manchester City,€100.00m
10,11,Marcus Rashford,Left Winger,25,England,Manchester United,€85.00m
11,12,Gabriel Jesus,Centre-Forward,26,Brazil,Arsenal FC,€80.00m
12,13,Luis Díaz,Left Winger,26,Colombia,Liverpool FC,€75.00m
13,14,Bruno Fernandes,Attacking Midfield,28,Portugal,Manchester United,€90.00m
14,15,Rúben Dias,Centre-Back,25,Portugal,Manchester City,€75.00m
15,16,Mohamed Salah,Right Winger,30,Egypt,Liverpool FC,€150.00m
16,17,Jack Grealish,Left Winger,27,England,Manchester City,€100.00m
17,18,Antony,Right Winger,23,Brazil,Manchester United,€75.00m
18,19,Darwin Núñez,Centre-Forward,23,Uruguay,Liverpool FC,€70.00m
19,20,Gabriel Martinelli,Left Winger,21,Brazil,Arsenal FC,€70.00m
20,21,Reece James,Right-Back,23,England,Chelsea FC,€70.00m
21,22,Wesley Fofana,Centre-Back,22,France,Chelsea FC,€65.00m
22,23,Mason Mount,Attacking Midfield,24,England,Chelsea FC,€75.00m
23,24,Trent Alexander-Arnold,Right-Back,24,England,Liverpool FC,€110.00m
24,25,Cody Gakpo,Left Winger,23,Netherlands,Liverpool FC,€60.00m
25,26,Bruno Guimarães,Defensive Midfield,25,Brazil,Newcastle United,€60.00m
26,27,Kai Havertz,Attacking Midfield,23,Germany,Chelsea FC,€90.00m
27,28,Mykhaylo Mudryk,Left Winger,22,Ukraine,Chelsea FC,€60.00m
28,29,Raheem Sterling,Left Winger,28,England,Chelsea FC,€160.00m
29,30,Cristian Romero,Centre-Back,24,Argentina,Tottenham Hotspur,€60.00m
30,31,Heung-min Son,Left Winger,30,"Korea, South",Tottenham Hotspur,€90.00m
31,32,William Saliba,Centre-Back,22,France,Arsenal FC,€55.00m
32,33,Diogo Jota,Left Winger,26,Portugal,Liverpool FC,€60.00m
33,34,Jadon Sancho,Left Winger,23,England,Manchester United,€130.00m
34,35,Dejan Kulusevski,Right Winger,23,Sweden,Tottenham Hotspur,€55.00m
35,36,James Maddison,Attacking Midfield,26,England,Leicester City,€60.00m
36,37,Richarlison,Centre-Forward,25,Brazil,Tottenham Hotspur,€65.00m
37,38,Moisés Caicedo,Defensive Midfield,21,Ecuador,Brighton & Hove Albion,€55.00m
38,39,Julián Álvarez,Centre-Forward,23,Argentina,Manchester City,€50.00m
39,40,Gabriel Magalhães,Centre-Back,25,Brazil,Arsenal FC,€50.00m
40,41,Casemiro,Defensive Midfield,31,Brazil,Manchester United,€80.00m
41,42,Ivan Toney,Centre-Forward,27,England,Brentford FC,€50.00m
42,43,Alexander Isak,Centre-Forward,23,Sweden,Newcastle United,€50.00m
43,44,João Félix,Second Striker,23,Portugal,Chelsea FC,€100.00m
44,45,Ben White,Right-Back,25,England,Arsenal FC,€50.00m
45,46,Lisandro Martínez,Centre-Back,25,Argentina,Manchester United,€50.00m
46,47,Andrew Robertson,Left-Back,29,Scotland,Liverpool FC,€80.00m
47,48,Fabinho,Defensive Midfield,29,Brazil,Liverpool FC,€70.00m
48,49,Pierre-Emile Höjbjerg,Central Midfield,27,Denmark,Tottenham Hotspur,€45.00m
49,50,Alisson,Goalkeeper,30,Brazil,Liverpool FC,€90.00m

In [266]:
# df.to_csv()로 csv파일로 저장하기
df.to_csv('PL50.csv', index=False)